:root {
    --main-font: "Roboto", sans-serif;
    --font-size-base: 16px;
    --font-size-lg: 2em;
    --font-size-md: 1.5em;
    --font-size-sm: 1em;
    --font-weight-regular: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --color-black: #000;
    --color-red: #eb5757;
    --color-white: #fff;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --btn-width: 100px;
    --height: 100vh;
    --width: 100%;
}

* {
    font-family: var(--main-font);
}

.title__content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.content {
    margin: var(--spacing-md) 0;
}

.title__content h2 {
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    font-size: 25px;  
}

.text__red {
    font-weight: var(--font-weight-bold);
    color: var(--color-red);
    text-shadow: 1px 1px 0 var(--color-black), -1px -1px 0 var(--color-black),
        1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black),
        1px 0 0 var(--color-black), -1px 0 0 var(--color-black),
        0 1px 0 var(--color-black), 0 -1px 0 var(--color-black);
}

.content__subtitle {
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    text-align: center;
    margin-top: 3%;
}

.sub__title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-size: 16px;
}

/* #moveCard {
    margin-top: -20%;
} */


.container__img {
    display: flex;
    width: var(--width);
    max-width: var(--width);
}

.img {
    width: 100%;
    object-fit: cover;
}

.card__content{  
    margin: 20px;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid var(--color-black);
    max-width: 350px;
    margin: var(--spacing-md) auto;
}
.container__btn-register{
    margin-bottom: 5%;
}

/* responsive */
@media screen and (min-width: 320px) {
    .card__content {
        margin: 20px;    
    }
    
    #movetest{
       margin-top: -99%;
     
    }
}

@media screen and (min-width: 360px) {
    #movetest{
        margin-top: -120%;
    }
}

@media screen and (min-width: 768px){
    #movetest{
        margin-top: -74%;
    }
    .title__content h2 {
        font-size: 35px;  
    }
    .sub__title{
        font-size: 25px;
    }
    .card__content {
        display: flex; /* Adicione esta linha */
        flex-wrap: wrap; /* Adicione esta linha */
        justify-content: space-between; /* Adicione esta linha para espaçamento */
        max-width: 90%; /* Certifique-se de que os cartões não excedam a largura */
        margin: 0 auto; /* Centraliza o conteúdo */
    }
    
    .card__container {
        flex: 1 1 calc(33.33% - 20px); /* Alinha três cartões lado a lado */
        margin: 10px; /* Margem para espaçamento entre os cartões */
    }
  
}
@media screen and (min-width: 800px){
    #movetest{
        margin-top: -93%;
    }
}
@media screen and (min-width: 820px) {
    #movetest{
        margin-top: -80%;
     }
    .card__content {
        max-width: 85%; /* Certifique-se de que os cartões não excedam a largura */ 
    }
}
@media screen and (min-width: 884px){
    .card__content {
        max-width: 81%; /* Certifique-se de que os cartões não excedam a largura */ 
    }
    #movetest{
        margin-top: -73%;
    }
}


@media screen and (min-width: 1024px) {
    .card__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: var(--width);
        max-width: 90%;
        margin: 0 auto;
        gap: 2em;
    }
}

.container__btn {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: var(--width);
    margin: var(--spacing-sm) auto;
}

.btn,
.btn__outline {
    font-weight: var(--font-weight-medium);
    height: var(--spacing-md);
    color: var(--color-black);
    border: none;
    cursor: pointer;
}

.btn__arrow {
    font-weight: var(--font-weight-regular);
    width: var(--btn-width);
    height: var(--spacing-md);
    color: var(--color-black);
    border: none;
    cursor: pointer;
}

.btn__outline,
.btn__arrow {
    background-color: transparent;
}

.btn__register {
    background-color: var(--color-black);
    border: none;
    color: var(--color-white);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn__register:hover {
    background-color: var(--color-red);
    color: var(--color-white);
    transform: scale(1);
}

.btn__arrow i {
    font-size: var(--font-size-sm);
    margin-left: 5px;
    animation: moveArrow 1s infinite alternate;
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}

.content__btn {
    display: flex;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
}

.container__btn h5 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-sm);
}

.container__btn p {
    font-weight: var(--font-weight-regular);
    color: var(--color-black);
    margin-bottom: var(--spacing-md);
}

.text__danger {
    color: var(--color-red);
}

.content__text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.container__btn-register {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-md);
}
