#h5 { 
    text-align: center;
    
}

.icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    gap: 20px;
}
.texto{
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content: center;
    align-content: space-around;
    gap: 5px;
}
.icones2{
    display: flex;
    justify-content:end;
}

#h6{
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .icones {
        flex-direction: row;
        justify-content: space-around;
        
    }

}
