@media (min-width: 320px) {
  .secao-form{
   padding: 20px;
   max-width: 100%;
   
  }

  .container-imagem {
    width: 100%;
    max-width: 100%;
  }

  .container-imagem img{
    width: 100%;
  }

  .container-formulario {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .formulario-titulos{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .formulario-titulos .titulo-1{
    padding-top: 10px;
    font-weight: 500;
    font-size: 1em;
  }

  .formulario-titulos .subtitulo{
    font-weight: bold;
    font-size: 2.4em;
    text-align: center;
  }

  .subtitulo span{
    color: #eb5757;
  }
  
  .container-formulario .form-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
  }

  .container-formulario .area-texto{
    width: 100%;
  }

  .checkbox{
    margin: 12px 0;
  }

  .botao {
    padding: 15px 20px;
    background-color: #000000;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 1em;
  }

}

@media (min-width: 1024px){
  
  .secao-form{
    display: flex;
    padding: 0 50px;
  }

  .formulario-titulos{
    display: inline-block;
  }

  .container-imagem {
    width: 50%;
    max-width: 100%;
  }

  .container-imagem img{
    width: 90%;
  }

  .container-formulario {
    max-width: 450px;
  
  }

  .container-formulario h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    width: 100%; 
    padding-bottom: 24px;
    text-align: left;  
  }

  .titulo-h5 {
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 25px;
    
  }

  .container-formulario .titulo-h5, .container-formulario .titulo-h4 {
    text-align: left; 
    width: 100%; 
  }

  .span-mensagem {
    color: #eb5757;
  }

  .formulario{
    width: 100%;
  }

  .container-formulario .area-texto {
    width: 100%;
    /* height: 120px; */
  }

  .container-formulario .form-input {
    width: 100%;
    padding: 8px;
  }


  .form-input {
    margin: 10px 0 20px 0;
  }

  .area-texto {
    margin-top: 10px;
    padding: 10px;
  }

  .condicoes {
    font-size: 0.75em;
    /* display: inline-flex; */
    /* margin: -10px 0; */
  }

  .botao {
    padding: 12px 17px;
    background-color: #000000;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 0.75em;
    
  }

  .botao:hover {
    background-color: #eb5757;
  }
 
}