body{
    min-width: 100%;
}

#rows {
    width: 100%;
    height: 70vh;
    background: url("../imagens/row1.svg") no-repeat center;
    background-size: cover;
    animation: moveBackground 2s linear infinite;
  }
  @keyframes moveBackground {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .menu-container {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); /* Add a background color to make it stand out */
    z-index: 1000; /* Sit on top */
  }
.menu-container .divisoria{
    width: 100%;
    height: 1px;
}

.hero .imagem-hero{
    max-width: 100%;
}

.imagem-hero img{
    width: 100%;
}

.informacoes {
    width: 100%;
}

.informacoes .titulo-principal{
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}

.titulo-principal span{
    color: #EB5757;
}

.informacoes .descricao{
    width: 100%;
    margin-bottom: 15px;
    font-size: 16.5px;
    text-align: center;
}
.descricao {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 5%;
}
.descricao span{
    color: #EB5757;
}

.botao-cadastrar{
    display: flex;
    justify-content: center;
}

.botao-cadastrar > button {
    padding: 15px 32px;
    margin: 4px 2px;
    background-color: #000000;
    border: none;
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-cadastrar > button:hover {
    background-color: #EB5757;
    transform: scale(1.1);
}

.setas{
    position: absolute;
    right: 0;
}

.setas img{
    max-width: 50px;
}

@media (min-width: 360px) {
    /*alteração da altura do nav-bar fixed - dev Fábio*/
    .menu-container {
        height: 8.4%;
      }
    }
@media (min-width: 375px) {
    .menu-container {
        height: 8.2%;
      }
@media (min-width: 393px) {
    .menu-container {
        height: 7.9%;
      }
    }
 @media(min-width: 412px){
    .menu-container {
        height: 7.4%;
      }
    }
 }   
