.trilhas-content {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: auto;
}

.trilhas-titulo-container {
    text-align: center;
}

.titulo {
    margin: 0;
    padding: 40px 10px 20px 10px;
    font-size: 48px;
    word-wrap: break-word;
}

.span-titulo {
    color: #EB5757;
}

.botao-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.botao-stack {
    font-size: 16px;
    background-color: #FFFFFF;
    border: solid 0.3px #000000;
    padding: 12px;
}

.botao-stack:hover {
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.botao-stack:hover~.icone-Botao {
    transform: rotate(360deg);
    animation: rotate 1s linear infinite;
}

.icone-Botao {
    width: 90px;
    height: 90px;
    margin-top: -15px;
    margin-bottom: -40px;
    display: inline-block;
}

.timeline-roadmap {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.timeline-item {
    display: flex;
}

.item-imagem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    gap: 10px;
}

.item-img-quadrado {
    width: 48px;
    height: 48px;
}

.item-img-linha {
    width: 2px;
    height: 60px;
}

.img_desabilitada {
    display: none;
}

.item-content {
    text-align: start;
}

.item-titulo {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
}

.item-descricao {
    font-size: 16px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.Linha-separadora {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
}

.img-linha {
    animation: pulse 3s infinite;
    width: 350px;
}

#img2,
#img3 {
    display: none;
}

@media (min-width: 530px) {
    .img-linha {
        width: 430px;
    }
}

@media (min-width: 768px) {
    #img2 {
        display: block;
    }

    .img-linha {
        width: 365px;
    }

    .Linha-separadora {
        gap: 10px;
    }

    .item-img-linha {
        height: 100px;
    }
}

@media (min-width: 1024px) {

    .trilhas-content {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        padding: 0 50px;
    }

    .trilhas-titulo-container {
        width: 500px;
        height: 310px;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 30px;
        align-items: baseline;
    }

    .titulo {
        padding: 30px 10px 20px 10px;
    }

    .botao-container {
        flex-direction: row;
        align-items: end;
    }

    .botao-stack {
        border: solid 1.5px #000000;
        padding: 14px;
    }

    .icone-Botao {
        margin-top: 0;
        margin-bottom: -25px;
    }


    .timeline-roadmap {
        width: 400px;
        height: auto;
    }


    .img-linha {
        width: 325px;
    }

    #img2,
    #img3 {
        display: block;
    }

    .Linha-separadora {
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {

    .img-linha {
        width: 380px;
    }

    .trilhas-titulo-container {
        width: 600px;
    }

    .timeline-roadmap {
        width: 500px;
    }
}

@media (min-width: 1440px) {
    .img-linha {
        width: 450px;
    }

    .trilhas-titulo-container {
        width: 641px;
    }

    .timeline-roadmap {
        width: 641px;
    }
}